In [5]:
import os 
import numpy as np
import pandas as pd

In [8]:
bimbam_path = '/Users/vince/Library/Mobile Documents/com~apple~CloudDocs/UCSD/Winter 2024/CSE 284/FinalProject/UCSD_CSE284_FinalProject/data/bmi/ld_pruned_genotype_data/LD_pruned_0.95/chr1.round2_impute2_3473.bimbam'

bimbam_df = pd.read_csv(bimbam_path, sep=' ', header=None)
bimbam_df

,0,1,2,3,4,5,6,7,8,9,...,3466,3467,3468,3469,3470,3471,3472,3473,3474,3475
0,chr1:55365,A,T,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,1.000,0.000,1.000,0.000,1.000
1,chr1:275972,A,T,1.000,1.000,1.000,1.000,1.000,1.000,1.000,...,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
2,chr1:475912,T,C,1.000,1.000,1.000,1.000,1.000,1.000,1.000,...,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
3,chr1:759319,T,C,1.984,1.984,1.012,1.012,1.984,1.012,0.040,...,1.984,1.012,0.040,1.984,0.040,0.040,1.984,0.040,1.983,1.012
4,chr1:835524,T,C,0.000,0.000,1.000,1.000,0.000,1.000,1.000,...,0.000,1.000,1.000,0.000,1.000,1.000,0.000,1.000,0.000,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13691,chr1:99980369,C,T,1.998,1.998,1.998,1.997,1.419,1.998,1.998,...,1.998,1.998,1.998,1.998,1.998,1.998,1.998,1.998,1.998,1.998
13692,chr1:99980452,T,C,0.000,2.000,2.000,1.000,0.000,1.000,0.000,...,2.000,2.000,1.000,2.000,1.000,1.000,1.000,2.000,1.000,0.000
13693,chr1:99981435,A,G,0.002,1.997,1.997,1.018,0.006,0.999,0.002,...,1.998,1.997,1.000,1.998,1.000,1.000,1.000,1.997,1.000,0.002
13694,chr1:99981798,T,C,0.002,1.996,1.001,1.003,0.005,0.999,0.002,...,0.003,1.001,0.003,0.003,0.003,0.003,0.003,1.996,0.003,0.002
13695,chr1:99998533,T,C,0.000,2.000,1.000,1.000,0.000,1.000,0.000,...,0.000,1.000,0.000,0.000,0.000,0.000,0.000,2.000,0.000,0.000

In [42]:
bimbam_df[bimbam_df[:][0] == 'chr1:2001957']

,0,1,2,3,4,5,6,7,8,9,...,3467,3468,3469,3470,3471,3472,3473,3474,3475,MAF
64,chr1:2001957,T,C,1.996,1.977,1.996,1.985,1.977,1.986,1.994,...,1.986,1.994,1.996,1.994,1.994,1.986,1.994,1.986,1.986,0.992308

In [24]:
df = bimbam_df
minor_allele_sum = df.iloc[:, 3:].sum(axis=1)

# Calculate the total number of alleles (2 alleles per individual)
num_alleles = 2 * df.shape[1] - 6  # Subtract 6 to account for the first 3 columns and adjust for 0-based indexing

# Calculate the MAF for each SNP
maf = minor_allele_sum / num_alleles

# Append the MAF as a new column to the DataFrame
df['MAF'] = maf

# Display the DataFrame with the new MAF column
df[['MAF']] == 0

         MAF
0      False
1      False
2      False
3      False
4      False
...      ...
13691  False
13692  False
13693  False
13694  False
13695  False

[13696 rows x 1 columns]

In [30]:
df[df['MAF'] == 0]

,0,1,2,3,4,5,6,7,8,9,...,3467,3468,3469,3470,3471,3472,3473,3474,3475,MAF
3936,chr1:164755867,A,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4722,chr1:178841189,T,C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4754,chr1:185041906,A,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4761,chr1:185124797,G,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4765,chr1:185181822,T,C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4824,chr1:186955893,A,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7329,chr1:216389844,T,C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7381,chr1:216659063,T,C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7508,chr1:217263397,T,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7509,chr1:217267254,C,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7526,chr1:217380155,A,C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7597,chr1:218178794,T,C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7619,chr1:218307426,A,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7643,chr1:218530713,A,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7649,chr1:218588110,A,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7728,chr1:220281640,A,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7765,chr1:221150846,A,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7784,chr1:221231118,T,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7796,chr1:221309662,G,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7803,chr1:221331909,A,C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7845,chr1:221622186,A,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7848,chr1:221662025,T,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9334,chr1:28231658,G,C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9341,chr1:28894948,C,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9885,chr1:267431464,C,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11226,chr1:31060733,T,C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11228,chr1:31409797,G,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11229,chr1:31441365,A,C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11230,chr1:31474217,T,G,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11232,chr1:31500827,T,C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11261,chr1:32253793,T,C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
df[df['MAF'] == 0][0].to_csv('snps_to_exclude.txt', index=False)

In [7]:
bimbam_df.describe()

,3,4,5,6,7,8,9,10,11,12,...,3466,3467,3468,3469,3470,3471,3472,3473,3474,3475
count,13696.000000,13696.000000,13696.000000,13696.000000,13696.000000,13696.000000,13696.000000,13696.000000,13696.000000,13696.000000,...,13696.000000,13696.000000,13696.000000,13696.000000,13696.000000,13696.000000,13696.000000,13696.000000,13696.000000,13696.000000
mean,1.195943,1.031706,1.068955,1.065717,1.109592,1.123069,1.162368,1.090645,1.103217,1.131304,...,1.093269,1.206933,1.164098,1.124645,1.137646,1.153748,1.211428,1.222704,1.133509,1.076373
std,0.773276,0.834792,0.803732,0.806595,0.832780,0.755128,0.786263,0.798855,0.830312,0.737077,...,0.784001,0.755425,0.784216,0.814260,0.797090,0.791253,0.796002,0.777561,0.781205,0.867941
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.981000,0.023000,0.047750,0.045000,0.034000,0.954750,0.193000,0.067000,0.044000,0.983000,...,0.069000,0.991000,0.457000,0.059000,0.079000,0.096000,0.948000,0.990000,0.102000,0.024000
50%,1.007000,1.000000,1.000000,1.001000,1.003000,1.001000,1.005000,1.001000,1.002000,1.002000,...,1.001000,1.007000,1.005000,1.003000,1.004000,1.005000,1.015500,1.019500,1.002000,1.001000
75%,1.995000,1.993000,1.991000,1.992000,1.995000,1.992000,1.994000,1.993000,1.994000,1.991000,...,1.991000,1.994000,1.994000,1.994000,1.994000,1.994000,1.995000,1.995000,1.993000,1.995000
max,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000

In [3]:
import h5py

thougenome = '/Users/vince/Library/Mobile Documents/com~apple~CloudDocs/UCSD/Winter 2024/CSE 284/FinalProject/UCSD_CSE284_FinalProject/data/ldblk_1kg_afr/ldblk_1kg_chr1.hdf5'

with h5py.File(thougenome, 'r') as file:
    # List all groups and datasets in the file
    def print_structure(name, obj):
        print(name)
        if isinstance(obj, h5py.Dataset):
            print(f"Dataset shape: {obj.shape}; Dataset dtype: {obj.dtype}")

    file.visititems(print_structure)

    # # To read data from a specific dataset, you can do so by referring to its path
    # For example, if there's a dataset named 'your_dataset_name' at the root of the file
    # dataset = file['your_dataset_name']
    # data = dataset[:]
    # print(data)

blk_1
blk_1/ldblk
Dataset shape: (250, 250); Dataset dtype: float64
blk_1/snplist
Dataset shape: (250,); Dataset dtype: |S10
blk_10
blk_10/ldblk
Dataset shape: (500, 500); Dataset dtype: float64
blk_10/snplist
Dataset shape: (500,); Dataset dtype: |S10
blk_100
blk_100/ldblk
Dataset shape: (504, 504); Dataset dtype: float64
blk_100/snplist
Dataset shape: (504,); Dataset dtype: |S10
blk_101
blk_101/ldblk
Dataset shape: (556, 556); Dataset dtype: float64
blk_101/snplist
Dataset shape: (556,); Dataset dtype: |S10
blk_102
blk_102/ldblk
Dataset shape: (660, 660); Dataset dtype: float64
blk_102/snplist
Dataset shape: (660,); Dataset dtype: |S10
blk_103
blk_103/ldblk
Dataset shape: (703, 703); Dataset dtype: float64
blk_103/snplist
Dataset shape: (703,); Dataset dtype: |S10
blk_104
blk_104/ldblk
Dataset shape: (370, 370); Dataset dtype: float64
blk_104/snplist
Dataset shape: (370,); Dataset dtype: |S10
blk_105
blk_105/ldblk
Dataset shape: (623, 623); Dataset dtype: float64
blk_105/snplist
Dataset shape: (623,); Dataset dtype: |S10
blk_106
blk_106/ldblk
Dataset shape: (735, 735); Dataset dtype: float64
blk_106/snplist
Dataset shape: (735,); Dataset dtype: |S10
blk_107
blk_107/ldblk
Dataset shape: (661, 661); Dataset dtype: float64
blk_107/snplist
Dataset shape: (661,); Dataset dtype: |S10
blk_108
blk_108/ldblk
Dataset shape: (430, 430); Dataset dtype: float64
blk_108/snplist
Dataset shape: (430,); Dataset dtype: |S10
blk_109
blk_109/ldblk
Dataset shape: (608, 608); Dataset dtype: float64
blk_109/snplist
Dataset shape: (608,); Dataset dtype: |S10
blk_11
blk_11/ldblk
Dataset shape: (256, 256); Dataset dtype: float64
blk_11/snplist
Dataset shape: (256,); Dataset dtype: |S10
blk_110
blk_110/ldblk
Dataset shape: (549, 549); Dataset dtype: float64
blk_110/snplist
Dataset shape: (549,); Dataset dtype: |S10
blk_111
blk_111/ldblk
Dataset shape: (435, 435); Dataset dtype: float64
blk_111/snplist
Dataset shape: (435,); Dataset dtype: |S10
blk_112
blk_112/ldblk
Dataset shape: (564, 564); Dataset dtype: float64
blk_112/snplist
Dataset shape: (564,); Dataset dtype: |S10
blk_113
blk_113/ldblk
Dataset shape: (494, 494); Dataset dtype: float64
blk_113/snplist
Dataset shape: (494,); Dataset dtype: |S10
blk_114
blk_114/ldblk
Dataset shape: (577, 577); Dataset dtype: float64
blk_114/snplist
Dataset shape: (577,); Dataset dtype: |S10
blk_115
blk_115/ldblk
Dataset shape: (549, 549); Dataset dtype: float64
blk_115/snplist
Dataset shape: (549,); Dataset dtype: |S10
blk_116
blk_116/ldblk
Dataset shape: (388, 388); Dataset dtype: float64
blk_116/snplist
Dataset shape: (388,); Dataset dtype: |S10
blk_117
blk_117/ldblk
Dataset shape: (890, 890); Dataset dtype: float64
blk_117/snplist
Dataset shape: (890,); Dataset dtype: |S10
blk_118
blk_118/ldblk
Dataset shape: (111, 111); Dataset dtype: float64
blk_118/snplist
Dataset shape: (111,); Dataset dtype: |S10
blk_119
blk_119/ldblk
Dataset shape: (1015, 1015); Dataset dtype: float64
blk_119/snplist
Dataset shape: (1015,); Dataset dtype: |S10
blk_12
blk_12/ldblk
Dataset shape: (446, 446); Dataset dtype: float64
blk_12/snplist
Dataset shape: (446,); Dataset dtype: |S10
blk_120
blk_120/ldblk
Dataset shape: (240, 240); Dataset dtype: float64
blk_120/snplist
Dataset shape: (240,); Dataset dtype: |S10
blk_121
blk_121/ldblk
Dataset shape: (1037, 1037); Dataset dtype: float64
blk_121/snplist
Dataset shape: (1037,); Dataset dtype: |S10
blk_122
blk_122/ldblk
Dataset shape: (302, 302); Dataset dtype: float64
blk_122/snplist
Dataset shape: (302,); Dataset dtype: |S10
blk_123
blk_123/ldblk
Dataset shape: (706, 706); Dataset dtype: float64
blk_123/snplist
Dataset shape: (706,); Dataset dtype: |S10
blk_124
blk_124/ldblk
Dataset shape: (680, 680); Dataset dtype: float64
blk_124/snplist
Dataset shape: (680,); Dataset dtype: |S10
blk_125
blk_125/ldblk
Dataset shape: (414, 414); Dataset dtype: float64
blk_125/snplist
Dataset shape: (414,); Dataset dtype: |S10
blk_126
blk_126/ldblk
Dataset shape: (816, 816); Dataset dtype: float64
blk_126/snplist
Dataset shape: (816,); Dataset dtype: |S10
blk_127
blk_127/ldblk
Dataset shape: (114, 114); Dataset dtype: float64
blk_127/snplist
Dataset shape: (114,); Dataset dtype: |S10
blk_128
blk_128/ldblk
Dataset shape: (509, 509); Dataset dtype: float64
blk_128/snplist
Dataset shape: (509,); Dataset dtype: |S10
blk_129
blk_129/ldblk
Dataset shape: (624, 624); Dataset dtype: float64
blk_129/snplist
Dataset shape: (624,); Dataset dtype: |S10
blk_13
blk_13/ldblk
Dataset shape: (449, 449); Dataset dtype: float64
blk_13/snplist
Dataset shape: (449,); Dataset dtype: |S10
blk_130
blk_130/ldblk
Dataset shape: (444, 444); Dataset dtype: float64
blk_130/snplist
Dataset shape: (444,); Dataset dtype: |S10
blk_131
blk_131/ldblk
Dataset shape: (709, 709); Dataset dtype: float64
blk_131/snplist
Dataset shape: (709,); Dataset dtype: |S10
blk_132
blk_132/ldblk
Dataset shape: (654, 654); Dataset dtype: float64
blk_132/snplist
Dataset shape: (654,); Dataset dtype: |S10
blk_133
blk_133/ldblk
Dataset shape: (856, 856); Dataset dtype: float64
blk_133/snplist
Dataset shape: (856,); Dataset dtype: |S10
blk_134
blk_134/ldblk
Dataset shape: (470, 470); Dataset dtype: float64
blk_134/snplist
Dataset shape: (470,); Dataset dtype: |S10
blk_135
blk_135/ldblk
Dataset shape: (406, 406); Dataset dtype: float64
blk_135/snplist
Dataset shape: (406,); Dataset dtype: |S10
blk_136
blk_136/ldblk
Dataset shape: (539, 539); Dataset dtype: float64
blk_136/snplist
Dataset shape: (539,); Dataset dtype: |S10
blk_137
blk_137/ldblk
Dataset shape: (469, 469); Dataset dtype: float64
blk_137/snplist
Dataset shape: (469,); Dataset dtype: |S10
blk_138
blk_138/ldblk
Dataset shape: (695, 695); Dataset dtype: float64
blk_138/snplist
Dataset shape: (695,); Dataset dtype: |S10
blk_139
blk_139/ldblk
Dataset shape: (521, 521); Dataset dtype: float64
blk_139/snplist
Dataset shape: (521,); Dataset dtype: |S10
blk_14
blk_14/ldblk
Dataset shape: (693, 693); Dataset dtype: float64
blk_14/snplist
Dataset shape: (693,); Dataset dtype: |S10
blk_140
blk_140/ldblk
Dataset shape: (221, 221); Dataset dtype: float64
blk_140/snplist
Dataset shape: (221,); Dataset dtype: |S10
blk_141
blk_141/ldblk
Dataset shape: (512, 512); Dataset dtype: float64
blk_141/snplist
Dataset shape: (512,); Dataset dtype: |S10
blk_142
blk_142/ldblk
Dataset shape: (5, 5); Dataset dtype: float64
blk_142/snplist
Dataset shape: (5,); Dataset dtype: |S10
blk_143
blk_143/ldblk
Dataset shape: (750, 750); Dataset dtype: float64
blk_143/snplist
Dataset shape: (750,); Dataset dtype: |S10
blk_144
blk_144/ldblk
Dataset shape: (730, 730); Dataset dtype: float64
blk_144/snplist
Dataset shape: (730,); Dataset dtype: |S10
blk_145
blk_145/ldblk
Dataset shape: (407, 407); Dataset dtype: float64
blk_145/snplist
Dataset shape: (407,); Dataset dtype: |S10
blk_146
blk_146/ldblk
Dataset shape: (717, 717); Dataset dtype: float64
blk_146/snplist
Dataset shape: (717,); Dataset dtype: |S10
blk_147
blk_147/ldblk
Dataset shape: (361, 361); Dataset dtype: float64
blk_147/snplist
Dataset shape: (361,); Dataset dtype: |S10
blk_148
blk_148/ldblk
Dataset shape: (265, 265); Dataset dtype: float64
blk_148/snplist
Dataset shape: (265,); Dataset dtype: |S10
blk_149
blk_149/ldblk
Dataset shape: (314, 314); Dataset dtype: float64
blk_149/snplist
Dataset shape: (314,); Dataset dtype: |S10
blk_15
blk_15/ldblk
Dataset shape: (512, 512); Dataset dtype: float64
blk_15/snplist
Dataset shape: (512,); Dataset dtype: |S10
blk_150
blk_150/ldblk
Dataset shape: (320, 320); Dataset dtype: float64
blk_150/snplist
Dataset shape: (320,); Dataset dtype: |S10
blk_151
blk_151/ldblk
Dataset shape: (387, 387); Dataset dtype: float64
blk_151/snplist
Dataset shape: (387,); Dataset dtype: |S10
blk_152
blk_152/ldblk
Dataset shape: (165, 165); Dataset dtype: float64
blk_152/snplist
Dataset shape: (165,); Dataset dtype: |S10
blk_153
blk_153/ldblk
Dataset shape: (454, 454); Dataset dtype: float64
blk_153/snplist
Dataset shape: (454,); Dataset dtype: |S10
blk_154
blk_154/ldblk
Dataset shape: (421, 421); Dataset dtype: float64
blk_154/snplist
Dataset shape: (421,); Dataset dtype: |S10
blk_155
blk_155/ldblk
Dataset shape: (326, 326); Dataset dtype: float64
blk_155/snplist
Dataset shape: (326,); Dataset dtype: |S10
blk_156
blk_156/ldblk
Dataset shape: (1013, 1013); Dataset dtype: float64
blk_156/snplist
Dataset shape: (1013,); Dataset dtype: |S10
blk_157
blk_157/ldblk
Dataset shape: (519, 519); Dataset dtype: float64
blk_157/snplist
Dataset shape: (519,); Dataset dtype: |S10
blk_158
blk_158/ldblk
Dataset shape: (609, 609); Dataset dtype: float64
blk_158/snplist
Dataset shape: (609,); Dataset dtype: |S10
blk_159
blk_159/ldblk
Dataset shape: (604, 604); Dataset dtype: float64
blk_159/snplist
Dataset shape: (604,); Dataset dtype: |S10
blk_16
blk_16/ldblk
Dataset shape: (312, 312); Dataset dtype: float64
blk_16/snplist
Dataset shape: (312,); Dataset dtype: |S10
blk_160
blk_160/ldblk
Dataset shape: (345, 345); Dataset dtype: float64
blk_160/snplist
Dataset shape: (345,); Dataset dtype: |S10
blk_161
blk_161/ldblk
Dataset shape: (553, 553); Dataset dtype: float64
blk_161/snplist
Dataset shape: (553,); Dataset dtype: |S10
blk_162
blk_162/ldblk
Dataset shape: (375, 375); Dataset dtype: float64
blk_162/snplist
Dataset shape: (375,); Dataset dtype: |S10
blk_163
blk_163/ldblk
Dataset shape: (682, 682); Dataset dtype: float64
blk_163/snplist
Dataset shape: (682,); Dataset dtype: |S10
blk_164
blk_164/ldblk
Dataset shape: (375, 375); Dataset dtype: float64
blk_164/snplist
Dataset shape: (375,); Dataset dtype: |S10
blk_165
blk_165/ldblk
Dataset shape: (441, 441); Dataset dtype: float64
blk_165/snplist
Dataset shape: (441,); Dataset dtype: |S10
blk_166
blk_166/ldblk
Dataset shape: (403, 403); Dataset dtype: float64
blk_166/snplist
Dataset shape: (403,); Dataset dtype: |S10
blk_167
blk_167/ldblk
Dataset shape: (379, 379); Dataset dtype: float64
blk_167/snplist
Dataset shape: (379,); Dataset dtype: |S10
blk_168
blk_168/ldblk
Dataset shape: (993, 993); Dataset dtype: float64
blk_168/snplist
Dataset shape: (993,); Dataset dtype: |S10
blk_169
blk_169/ldblk
Dataset shape: (398, 398); Dataset dtype: float64
blk_169/snplist
Dataset shape: (398,); Dataset dtype: |S10
blk_17
blk_17/ldblk
Dataset shape: (822, 822); Dataset dtype: float64
blk_17/snplist
Dataset shape: (822,); Dataset dtype: |S10
blk_170
blk_170/ldblk
Dataset shape: (752, 752); Dataset dtype: float64
blk_170/snplist
Dataset shape: (752,); Dataset dtype: |S10
blk_171
blk_171/ldblk
Dataset shape: (1019, 1019); Dataset dtype: float64
blk_171/snplist
Dataset shape: (1019,); Dataset dtype: |S10
blk_172
blk_172/ldblk
Dataset shape: (439, 439); Dataset dtype: float64
blk_172/snplist
Dataset shape: (439,); Dataset dtype: |S10
blk_173
blk_173/ldblk
Dataset shape: (586, 586); Dataset dtype: float64
blk_173/snplist
Dataset shape: (586,); Dataset dtype: |S10
blk_174
blk_174/ldblk
Dataset shape: (307, 307); Dataset dtype: float64
blk_174/snplist
Dataset shape: (307,); Dataset dtype: |S10
blk_175
blk_175/ldblk
Dataset shape: (270, 270); Dataset dtype: float64
blk_175/snplist
Dataset shape: (270,); Dataset dtype: |S10
blk_176
blk_176/ldblk
Dataset shape: (738, 738); Dataset dtype: float64
blk_176/snplist
Dataset shape: (738,); Dataset dtype: |S10
blk_177
blk_177/ldblk
Dataset shape: (548, 548); Dataset dtype: float64
blk_177/snplist
Dataset shape: (548,); Dataset dtype: |S10
blk_178
blk_178/ldblk
Dataset shape: (232, 232); Dataset dtype: float64
blk_178/snplist
Dataset shape: (232,); Dataset dtype: |S10
blk_179
blk_179/ldblk
Dataset shape: (489, 489); Dataset dtype: float64
blk_179/snplist
Dataset shape: (489,); Dataset dtype: |S10
blk_18
blk_18/ldblk
Dataset shape: (438, 438); Dataset dtype: float64
blk_18/snplist
Dataset shape: (438,); Dataset dtype: |S10
blk_180
blk_180/ldblk
Dataset shape: (420, 420); Dataset dtype: float64
blk_180/snplist
Dataset shape: (420,); Dataset dtype: |S10
blk_181
blk_181/ldblk
Dataset shape: (747, 747); Dataset dtype: float64
blk_181/snplist
Dataset shape: (747,); Dataset dtype: |S10
blk_182
blk_182/ldblk
Dataset shape: (738, 738); Dataset dtype: float64
blk_182/snplist
Dataset shape: (738,); Dataset dtype: |S10
blk_183
blk_183/ldblk
Dataset shape: (425, 425); Dataset dtype: float64
blk_183/snplist
Dataset shape: (425,); Dataset dtype: |S10
blk_184
blk_184/ldblk
Dataset shape: (842, 842); Dataset dtype: float64
blk_184/snplist
Dataset shape: (842,); Dataset dtype: |S10
blk_185
blk_185/ldblk
Dataset shape: (545, 545); Dataset dtype: float64
blk_185/snplist
Dataset shape: (545,); Dataset dtype: |S10
blk_186
blk_186/ldblk
Dataset shape: (595, 595); Dataset dtype: float64
blk_186/snplist
Dataset shape: (595,); Dataset dtype: |S10
blk_187
blk_187/ldblk
Dataset shape: (604, 604); Dataset dtype: float64
blk_187/snplist
Dataset shape: (604,); Dataset dtype: |S10
blk_188
blk_188/ldblk
Dataset shape: (496, 496); Dataset dtype: float64
blk_188/snplist
Dataset shape: (496,); Dataset dtype: |S10
blk_189
blk_189/ldblk
Dataset shape: (647, 647); Dataset dtype: float64
blk_189/snplist
Dataset shape: (647,); Dataset dtype: |S10
blk_19
blk_19/ldblk
Dataset shape: (615, 615); Dataset dtype: float64
blk_19/snplist
Dataset shape: (615,); Dataset dtype: |S10
blk_190
blk_190/ldblk
Dataset shape: (525, 525); Dataset dtype: float64
blk_190/snplist
Dataset shape: (525,); Dataset dtype: |S10
blk_191
blk_191/ldblk
Dataset shape: (438, 438); Dataset dtype: float64
blk_191/snplist
Dataset shape: (438,); Dataset dtype: |S10
blk_192
blk_192/ldblk
Dataset shape: (636, 636); Dataset dtype: float64
blk_192/snplist
Dataset shape: (636,); Dataset dtype: |S10
blk_193
blk_193/ldblk
Dataset shape: (664, 664); Dataset dtype: float64
blk_193/snplist
Dataset shape: (664,); Dataset dtype: |S10
blk_194
blk_194/ldblk
Dataset shape: (299, 299); Dataset dtype: float64
blk_194/snplist
Dataset shape: (299,); Dataset dtype: |S10
blk_195
blk_195/ldblk
Dataset shape: (548, 548); Dataset dtype: float64
blk_195/snplist
Dataset shape: (548,); Dataset dtype: |S10
blk_196
blk_196/ldblk
Dataset shape: (406, 406); Dataset dtype: float64
blk_196/snplist
Dataset shape: (406,); Dataset dtype: |S10
blk_197
blk_197/ldblk
Dataset shape: (411, 411); Dataset dtype: float64
blk_197/snplist
Dataset shape: (411,); Dataset dtype: |S10
blk_198
blk_198/ldblk
Dataset shape: (504, 504); Dataset dtype: float64
blk_198/snplist
Dataset shape: (504,); Dataset dtype: |S10
blk_199
blk_199/ldblk
Dataset shape: (351, 351); Dataset dtype: float64
blk_199/snplist
Dataset shape: (351,); Dataset dtype: |S10
blk_2
blk_2/ldblk
Dataset shape: (281, 281); Dataset dtype: float64
blk_2/snplist
Dataset shape: (281,); Dataset dtype: |S10
blk_20
blk_20/ldblk
Dataset shape: (769, 769); Dataset dtype: float64
blk_20/snplist
Dataset shape: (769,); Dataset dtype: |S10
blk_200
blk_200/ldblk
Dataset shape: (769, 769); Dataset dtype: float64
blk_200/snplist
Dataset shape: (769,); Dataset dtype: |S10
blk_201
blk_201/ldblk
Dataset shape: (282, 282); Dataset dtype: float64
blk_201/snplist
Dataset shape: (282,); Dataset dtype: |S10
blk_21
blk_21/ldblk
Dataset shape: (369, 369); Dataset dtype: float64
blk_21/snplist
Dataset shape: (369,); Dataset dtype: |S10
blk_22
blk_22/ldblk
Dataset shape: (326, 326); Dataset dtype: float64
blk_22/snplist
Dataset shape: (326,); Dataset dtype: |S10
blk_23
blk_23/ldblk
Dataset shape: (435, 435); Dataset dtype: float64
blk_23/snplist
Dataset shape: (435,); Dataset dtype: |S10
blk_24
blk_24/ldblk
Dataset shape: (374, 374); Dataset dtype: float64
blk_24/snplist
Dataset shape: (374,); Dataset dtype: |S10
blk_25
blk_25/ldblk
Dataset shape: (500, 500); Dataset dtype: float64
blk_25/snplist
Dataset shape: (500,); Dataset dtype: |S10
blk_26
blk_26/ldblk
Dataset shape: (335, 335); Dataset dtype: float64
blk_26/snplist
Dataset shape: (335,); Dataset dtype: |S10
blk_27
blk_27/ldblk
Dataset shape: (934, 934); Dataset dtype: float64
blk_27/snplist
Dataset shape: (934,); Dataset dtype: |S10
blk_28
blk_28/ldblk
Dataset shape: (89, 89); Dataset dtype: float64
blk_28/snplist
Dataset shape: (89,); Dataset dtype: |S10
blk_29
blk_29/ldblk
Dataset shape: (606, 606); Dataset dtype: float64
blk_29/snplist
Dataset shape: (606,); Dataset dtype: |S10
blk_3
blk_3/ldblk
Dataset shape: (265, 265); Dataset dtype: float64
blk_3/snplist
Dataset shape: (265,); Dataset dtype: |S10
blk_30
blk_30/ldblk
Dataset shape: (469, 469); Dataset dtype: float64
blk_30/snplist
Dataset shape: (469,); Dataset dtype: |S10
blk_31
blk_31/ldblk
Dataset shape: (829, 829); Dataset dtype: float64
blk_31/snplist
Dataset shape: (829,); Dataset dtype: |S10
blk_32
blk_32/ldblk
Dataset shape: (556, 556); Dataset dtype: float64
blk_32/snplist
Dataset shape: (556,); Dataset dtype: |S10
blk_33
blk_33/ldblk
Dataset shape: (103, 103); Dataset dtype: float64
blk_33/snplist
Dataset shape: (103,); Dataset dtype: |S10
blk_34
blk_34/ldblk
Dataset shape: (603, 603); Dataset dtype: float64
blk_34/snplist
Dataset shape: (603,); Dataset dtype: |S10
blk_35
blk_35/ldblk
Dataset shape: (694, 694); Dataset dtype: float64
blk_35/snplist
Dataset shape: (694,); Dataset dtype: |S10
blk_36
blk_36/ldblk
Dataset shape: (491, 491); Dataset dtype: float64
blk_36/snplist
Dataset shape: (491,); Dataset dtype: |S10
blk_37
blk_37/ldblk
Dataset shape: (374, 374); Dataset dtype: float64
blk_37/snplist
Dataset shape: (374,); Dataset dtype: |S10
blk_38
blk_38/ldblk
Dataset shape: (399, 399); Dataset dtype: float64
blk_38/snplist
Dataset shape: (399,); Dataset dtype: |S10
blk_39
blk_39/ldblk
Dataset shape: (666, 666); Dataset dtype: float64
blk_39/snplist
Dataset shape: (666,); Dataset dtype: |S10
blk_4
blk_4/ldblk
Dataset shape: (530, 530); Dataset dtype: float64
blk_4/snplist
Dataset shape: (530,); Dataset dtype: |S10
blk_40
blk_40/ldblk
Dataset shape: (746, 746); Dataset dtype: float64
blk_40/snplist
Dataset shape: (746,); Dataset dtype: |S10
blk_41
blk_41/ldblk
Dataset shape: (598, 598); Dataset dtype: float64
blk_41/snplist
Dataset shape: (598,); Dataset dtype: |S10
blk_42
blk_42/ldblk
Dataset shape: (482, 482); Dataset dtype: float64
blk_42/snplist
Dataset shape: (482,); Dataset dtype: |S10
blk_43
blk_43/ldblk
Dataset shape: (536, 536); Dataset dtype: float64
blk_43/snplist
Dataset shape: (536,); Dataset dtype: |S10
blk_44
blk_44/ldblk
Dataset shape: (435, 435); Dataset dtype: float64
blk_44/snplist
Dataset shape: (435,); Dataset dtype: |S10
blk_45
blk_45/ldblk
Dataset shape: (299, 299); Dataset dtype: float64
blk_45/snplist
Dataset shape: (299,); Dataset dtype: |S10
blk_46
blk_46/ldblk
Dataset shape: (434, 434); Dataset dtype: float64
blk_46/snplist
Dataset shape: (434,); Dataset dtype: |S10
blk_47
blk_47/ldblk
Dataset shape: (355, 355); Dataset dtype: float64
blk_47/snplist
Dataset shape: (355,); Dataset dtype: |S10
blk_48
blk_48/ldblk
Dataset shape: (439, 439); Dataset dtype: float64
blk_48/snplist
Dataset shape: (439,); Dataset dtype: |S10
blk_49
blk_49/ldblk
Dataset shape: (319, 319); Dataset dtype: float64
blk_49/snplist
Dataset shape: (319,); Dataset dtype: |S10
blk_5
blk_5/ldblk
Dataset shape: (460, 460); Dataset dtype: float64
blk_5/snplist
Dataset shape: (460,); Dataset dtype: |S10
blk_50
blk_50/ldblk
Dataset shape: (300, 300); Dataset dtype: float64
blk_50/snplist
Dataset shape: (300,); Dataset dtype: |S10
blk_51
blk_51/ldblk
Dataset shape: (874, 874); Dataset dtype: float64
blk_51/snplist
Dataset shape: (874,); Dataset dtype: |S10
blk_52
blk_52/ldblk
Dataset shape: (831, 831); Dataset dtype: float64
blk_52/snplist
Dataset shape: (831,); Dataset dtype: |S10
blk_53
blk_53/ldblk
Dataset shape: (674, 674); Dataset dtype: float64
blk_53/snplist
Dataset shape: (674,); Dataset dtype: |S10
blk_54
blk_54/ldblk
Dataset shape: (455, 455); Dataset dtype: float64
blk_54/snplist
Dataset shape: (455,); Dataset dtype: |S10
blk_55
blk_55/ldblk
Dataset shape: (408, 408); Dataset dtype: float64
blk_55/snplist
Dataset shape: (408,); Dataset dtype: |S10
blk_56
blk_56/ldblk
Dataset shape: (778, 778); Dataset dtype: float64
blk_56/snplist

In [ ]:
with h5py.File(thougenome, 'r') as file: